
.env
.env.*
!.env.example
*.pem
*.key

venv/
.venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/


**/target/
**/dbt_packages/
**/dbt_modules/
**/logs/
**/.dbt/
profiles.yml
.user.yml

docker/postgres/data/
docker/minio/data/
docker/logs/
data.dump/
*.dump


airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt
airflow-webserver.pid


*.log


.vscode/*
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
desktop.ini
